[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
box2d-py = "*"
pyqt5 = "*"
pyqt5-sip = "*"
pillow = "*"
numpy = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
